fastapi
uvicorn
supabase
python-dotenv
mcp[server]
langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.83
langchain-groq==0.3.8
langchain-huggingface==0.3.1
pydantic
pydantic-settings
email-validator
asyncio
httpx
duckduckgo-search>=6.3.0
yfinance>=0.2.54
